# nette extensions
extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	generator: Drago\Generator\DI\GeneratorExtension

# generator
generator:
	# base
	lower: false

	# generator entity
	path: %appDir%/entity
	constant: true
	constantLength: false
	references: false
	suffix: Entity
	extends: Drago\Database\Entity
	extendsOn: true
	final: false
	namespace: App\Entity

	# generator data class
	pathDataClass: %appDir%/data
	constantDataClass: true
	constantLengthDataClass: false
	referencesDataClass: false
	suffixDataClass: Data
	extendsDataClass: Drago\Utils\ExtraArrayHash
	extendsOnDataClass: true
	finalDataClass: false
	namespaceDataClass: App\Data


# symfony console
console:
	name: Symfony Console
	lazy: false


# database connection
dibi:
	host: 127.0.0.1
	username: root
	password:
	database: test
	driver: mysqli
	lazy: true
